numpy
matplotlib
scipy
cython
pandas
seaborn
ruamel_yaml
pytest
nose
jupyter
ipython
click
h5py
tqdm
openpyxl
colorcet
vispy
traitlets
pyopengl
joblib
requests
qtconsole
sip
pycodestyle
pynwb
quantities
tkfilebrowser
xmljson
PyQt5==5.9
expipe
exdir
spikeinterface
git+https://github.com/cortex-lab/phy@dev
git+https://github.com/cortex-lab/phylib
